.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none ;
    border-radius: 100%;
    /* padding: 4px 16px; */
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease-out;

    height: 50px;
    width: 50px;

    margin: 0 5px;
}

